*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}
.titolo {
  text-align: center;
  font-weight: bold;
  font-size: 80px;

}
.section1 {
  width: 100px;
  padding: 100%;
  margin: auto;
}
.background1 {
  height: 30vh;
  width: 30%;
  margin: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/roma.jpg);
  margin: 1% 35%;

}
.roma {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-shadow: 2px 1px rgb(180, 229, 242);
}
.background2 {
  height: 30vh;
  width: 30%;
  margin: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/paris.jpg);
  margin: 1% 35%;
}
.parigi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-shadow: 2px 1px rgb(180, 229, 242);
}

.background3 {
  height: 30vh;
  width: 30%;
  margin: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/berlino.jpg);
  margin: 1% 35%;

}
.berlino {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-shadow: 2px 1px rgb(180, 229, 242);

}

.layover {
  width: 30%;
  height: 30%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.background1:hover .layover {
  display: none;
  cursor: pointer;
}
.background2:hover .layover {
  display: none;
}
.background3:hover .layover {
  display: none;
}

.airbnb {
  text-align: center;
  font-size: 30px;
  background-color: rgb(232, 121, 121);
  border-radius: 10px;
  width: 200px;
  display: inline-block;
  margin: 10px;
  padding: 1%;
  transform: translate(299%, -0%);
}

.airbnb:hover {
  background-color: rgb(268, 170, 170);
  cursor: pointer;
}

.menu {
  height: 60px;
  width: 200px;
  position: absolute;
  display: inline-block;
  transform: translate(240%, -655%);
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 40px;
  margin: 30px;
  text-align: center;
  padding: 8px;
}


.menu:hover {
  background-color: rgb(222, 121, 121);
  cursor: pointer;
  border-radius: 10px;
}
.lorem {
  font-size: 20px;
  font-family: monospace;
  text-align: justify;
  margin: 10px 10px;
  padding: 1%;
  position: relative;
  display: inline-block;
}
